[program:{{ project_name }}]
command={{ install_root }}/venv/bin/gunicorn --workers 1 --bind 127.0.0.1:8000 {{ wsgi_module }}:application --log-level=debug --log-file=-
directory={{ install_root }}/{{ project_name }}
user=www-data
autostart=true
autorestart=true
